/* Add button */
.add-button{
    float: right;
}

/* coupon status icons */
.off-status{
    color: red;
}

.on-status{
    color: green;
}

.package-center{
    margin-left: 23.25rem !important;
}

.profile-center{
    margin-left: 20.25rem !important;
}

/* vue js css */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  