<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Request a Quote</h6>
                        
                        <form>
                    
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control mb-2" name="name" autocomplete="off" placeholder="John Doe" v-model="services.first"/>
                                <p class="alert alert-danger" v-if="nameError">
                                    {{nameError}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" placeholder="john@gmail.com" v-model="services.email"/>
                                <p class="alert alert-danger" v-if="emailError">
                                    {{emailError}}
                                </p>
                            </div>
                            <div class="form-group">
                                <label>ASIN/URL (if applicable)</label>
                                <input type="number" class="form-control" name="asin" autocomplete="off" placeholder="Valid ASIN" v-model="services.asin"/>
                            </div>
                            <div class="form-group">
                                <label>Budget</label>
                                <select class="form-control form-control-sm mb-3" name="budget" v-model="services.budget">
                                    <option class="" value="$250 - $500">$250 - $500</option>
                                    <option class="" value="$500 - $1000">$500 - $1000</option>
                                    <option class="" value="$1000 - $2000">$1000 - $2000</option>
                                    <option class="" value="$2000 - $5000">$2000 - $5000</option>
                                    <option class="" value="More than $5000">More than $5000</option>
                                </select>
                                <p class="alert alert-danger" v-if="budgetError">
                                    {{budgetError}}
                                </p>
                            </div>

                            <h4 id="outline">Services</h4>
                            <div class="example">
                                <a 
                                v-on:click="showPhotography = !showPhotography"
                                class="btn btn-outline-primary mb-1 mb-md-0 mr-1" >
                                    Photography
                                </a>
                                <a 
                                v-on:click="showVideography = !showVideography"
                                class="btn btn-outline-primary mb-1 mb-md-0 mr-1" >
                                    Videography
                                </a>
                            </div>
                            <br>
                            
                            <!-- conditional rendering of photography form -->
                            
                            <transition name="fade">
                                <div
                                v-if="showPhotography == true">

                                    <h6 id="outline"><i>Photography</i></h6>

                                    <div class="form-group">
                                        <label>{{services.photography.Q1.Q}}</label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        :name=services.photography.Q1.Q
                                        v-model="services.photography.Q1.A"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label>{{services.photography.Q2.Q}}</label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        :name=services.photography.Q2.Q
                                        v-model="services.photography.Q2.A"
                                        />
                                    </div>
                                </div>
                            </transition>


                            <!-- conditional rendering of photography form -->
                            <transition name="fade">
                                <div
                                v-if="showVideography == true">

                                    <h6 id="outline"><i>Videography</i></h6>

                                    <div class="form-group">
                                        <label>{{services.videography.Q1.Q}}</label>
                                        <input 
                                        type="text" 
                                        class="form-control" 
                                        autocomplete="off" 
                                        :name=services.videography.Q1.Q
                                        v-model="services.videography.Q1.A"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label>{{services.videography.Q2.Q}}</label>
                                        <select
                                    :name=services.videography.Q2.Q
                                        v-model="services.videography.Q2.A">
                                            <option :value="services.videography.Q2.op1">{{services.videography.Q2.op1}}</option>
                                            <option :value="services.videography.Q2.op2">{{services.videography.Q2.op2}}</option>
                                            <option :value="services.videography.Q2.op3">{{services.videography.Q2.op3}}</option>
                                            <option :value="services.videography.Q2.op4">{{services.videography.Q2.op4}}</option>
                                        </select>
                                    </div>
                                </div>
                            </transition>

                            <hr>

                            <a 
                            class="btn btn-primary mr-2"
                            v-on:click="submit()"
                            >Submit</a>
                            <a class="btn btn-light" href="">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        // props: ['data'],
        data(){
            return {
                module: {},
                errors: {},
                nameError: '',
                emailError: '',
                budgetError: '',
                showPhotography : false,
                showVideography : false,
                services:{
                    photography:{
                        Q1:{
                            Q:'What is your Asin',
                            A:'',
                            S:'Photography',
                        },
                        Q2:{
                            Q:'Does your listing live on amazon?',
                            A: '',
                            S:'Photography',
                        }

                    },
                    videography:{
                         Q1:{
                            Q:'What is your video',
                            A:'',
                            S:'Videography',
                        },
                        Q2:{
                            Q:'what is what?',
                            A: '',
                            op1: 'Option A',
                            op2: 'Option B',
                            op3: 'Option C',
                            op4: 'Option D',
                            S:'Videography',
                        }
                    },

                },
            }
        },
        methods: {
                submit(){
                    if(!this.nameError){
                        this.nameError = "The name field is required"
                    }
                    if(!this.emailError){
                        this.emailError = "The email field is required"
                    }
                    if(!this.budgetError){
                        this.budgetError = "The budget field is required"
                    }
                    else{
                        axios.post('/quotes/submit', this.services).then(response => {
                        console.log(response.data);
                    }).catch(error => {
                    if (error.response.status === 422) {
                    this.errors = error.response.data.errors || {};
                    }
                });
                    }
                    
            },

        },
        created() {
            this.getProps()
        },
        mounted() {

        }

    }
</script>
