 <div 
                        class="form-group"
                        v-for="service_quote in service_quotes">
                            <label>{{service_quote.label}}</label>
                            <!-- if field type is text -->
                            <input 
                            v-if="service_quote.type == 'text'"
                            type="text" 
                            class="form-control" 
                            autocomplete="off" 
                            :name=service_quote.label
                            v-model="formData.check"
                            />

                            <!-- if field type is checkbox -->
                            <input 
                            v-if="service_quote.type == 'checkbox'"
                            type="checkbox" 
                            class="form-control" 
                            autocomplete="off" 
                            :name=service_quote.label
                            />

                            <!-- if field type is select -->
                            <select 
                            class="form-control form-control-sm mb-3" 
                            name="budget"
                            v-if="service_quote.type == 'select'">
                                <option class="" value="$250 - $500">$250 - $500</option>
                                <option class="" value="$500 - $1000">$500 - $1000</option>
                                <option class="" value="$1000 - $2000">$1000 - $2000</option>
                                <option class="" value="$2000 - $5000">$2000 - $5000</option>
                                <option class="" value="More than $5000">More than $5000</option>
                            </select>
                        </div>


                        // mine

                                  <div v-if="Object.keys(quotes).length">
                            <div 
                            v-for="quote in quotes"
                            class="form-group">
                            
                                <div v-for="field in quote">
                                
                                    <template v-if="field.type == 'text'">
                                        <div class="form-group">
                                            <label>{{each.label}}</label>
                                            <!-- if field type is text -->
                                            <input 
                                            type="text" 
                                            class="form-control" 
                                            autocomplete="off" 
                                            :name=each.label
                                            v-model="formData.field.name.field.id"
                                            />
                                        </div>
                                    </template>

                                    <!-- if field type is checkbox -->
                                    <input 
                                    v-if="each.type == 'checkbox'"
                                    type="checkbox" 
                                    class="form-control" 
                                    autocomplete="off" 
                                    :name=each.label
                                    v-model="formData[each.name]"
                                    />

                                    <!-- if field type is select -->
                                    <select 
                                    class="form-control form-control-sm mb-3" 
                                    name="budget"
                                    v-if="each.type == 'select'"
                                    v-model="formData[each.name]"
                                    >
                                        <option class="" value="$250 - $500">$250 - $500</option>
                                        <option class="" value="$500 - $1000">$500 - $1000</option>
                                        <option class="" value="$1000 - $2000">$1000 - $2000</option>
                                        <option class="" value="$2000 - $5000">$2000 - $5000</option>
                                        <option class="" value="More than $5000">More than $5000</option>
                                    </select>
                                </div>
                            </div>
                        </div>